.Learn{
    background-color: #f2f2f2;
    height: calc(100vh - (40px + 30px));
    overflow-y: auto !important;
    overflow-x: hidden;
}
.heading{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    position: fixed;
}
.heading p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
    padding-top: 4rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
@media screen and (max-width: 900px) {
    .Learn{
        height: fit-content;
        margin-top: 4.7rem;
    }
    .heading{
        position: absolute;
    }
  }